build/*
doc/*
test/*
out/*
src/.vscode/
tmp/*

*.exe
*.txt

.vscode/

!doc/doc.html
!doc/doc_tmp.html
!doc/build.js
!doc/grammar.ebnf

!test/Allocations
!test/Arrays
!test/Comments
!test/Literals
!test/Operators
!test/Pointers
!test/CompileTime
!test/HelloWorld
!test/Imports
!test/Strings
!test/Structs
!test/Functions
!test/Loops
!test/Namespaces
!test/Tetris

!build/compiler.bat
!build/libtcc.dll
