build/*
doc/*
test/*
out/*
src/.vscode/
tmp/*
lsp/build/
tools/Zed\ plugins/languagge-support/target/
tools/Zed\ plugins/languagge-support/Cargo.toml

*.exe
*.txt
*.wasm
*.lock

TODO.md

.clangd

.vscode/

!doc/doc.md
!doc/doc.html
!doc/bytecode.md
!doc/bytecode.html
!doc/grammar.ebnf

!test/Allocations
!test/Arrays
!test/Comments
!test/Literals
!test/Operators
!test/Pointers
!test/CompileTime
!test/HelloWorld
!test/Imports
!test/Strings
!test/Structs
!test/Functions
!test/Loops
!test/Namespaces
!test/Tetris

!build/compiler.bat
!build/libtcc.dll
